* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
}
header {
    text-align: center;
    margin: 20px;
}
h1, h2 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 2.5px;
    padding: 10px;
}
h1{
    text-align: center;
}
ul, p {
    margin: 24px;
}
li {
    margin: 12px;
}
footer {
    background-color: #005677;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    height: 27px;
    padding: 10px;
    text-align: center;
}
footer img {
    padding: 5px 10px;
    vertical-align: middle;
}
strong {
    padding: 5px;
}
.separador {
    color: white;
    height: 128px;
}
.indent {
    margin-left: 95px;
}